body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}


/* shared styles */
.text-primary {
  color: #4E47FF;
}

.Primary-Color {
  color: #4E47FF;
}

.btn-Primary {
  background-color: #4E47FF;
  font-weight: bold;
  color: white;
  padding: 12px 36px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  font-family: Raleway;
  font-weight: 700;
  transition: 0.3s;
}

.btn-Primary:hover {
  background: #F0C411;
}

.section-title {
  font-size: 42px;
  font-weight: bold;
  color: rgba(37, 36, 50, 1);
}

.section-description {
  font-size: 24px;
  font-weight: 400;
  color: rgba(37, 36, 50, 0.5);
}

/* Nav styles */
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 150px;
}

.nav-title {
  font-weight: 800;
  font-size: 34px;
  font-family: inter;
}


/* header */
.header {
  background-image: url("../Assets/Hero-bg.png");
  background-size: cover;
  padding-bottom: 152px;

}

/* banner styles */
.hero-area {
  width: 905px;
  margin: 0 auto;
  text-align: center;
}

.banner-title {
  font-weight: bold;
  font-size: 65px;
}

/* about styles */
main {
  width: 1140px;
  margin: 0 auto;

}

.action-section {
  display: flex;
  gap: 220px;
  align-items: center;
}

.right-side {}

.right-side img {
  width: 403px;
  height: 328px;
  border-radius: 48px;
}


/* user section style  */
.user-section {
  background: rgba(78, 71, 255, 0.1);
}

.user-title {
  text-align: center;
  font-size: 38px;
  font-weight: 700;
  color: #252432;
  padding-top: 50px;
}

.user {
  display: flex;
  justify-content: space-around;
}

.data-title {
  font-size: 80px;
  font-weight: 700;
  font-family: Inter;
  margin-bottom: 0;
  margin-top: 40px;

}

.data-subtitle {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
}

.what-users .section-title {
  text-align: center;

}

.loved-area {
  display: flex;
}

.loved-title {
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
}

.loved-subtitle {
  font-family: Inter;
}

.user-info {
  display: flex;
  gap: 15px;
}

.name {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
}

/* ready section  */
.ready-section {
  text-align: center;
  margin: 71px 0;

}

.ready-img {
  margin-top: 15px;

}

.ready-img img {
  border-radius: 48px;
}





/* Touch-Section */
.Touch-Section {
  width: 1140px;
  display: flex;
  margin: 100px auto;
  gap: 115px;

}

.Touch-Section h1 {
  font-family: Raleway;
  font-size: 97px;
  font-weight: 700;
}

.footer-input input,
textarea {
  width: 400px;
  border: 1px solid rgb(214, 221, 237);
  border-radius: 10px;
  background: rgb(255, 255, 255);
  padding: 20px 32px;
  display: block;
  margin-bottom: 15px;
}

.footer-input .submit {
  background: rgb(78, 71, 255);
  border-radius: 10px;
  color: white;
  transition: 0.3s;
}

.footer-input .submit:hover {
  background: #F0C411;
}

.footer-section {
  width: 531px;
  margin: 0 auto;
}

.footer-action {
  font-weight: 400;
  font-size: 16px;
  color: rgb(137, 135, 161);
}

.footer-section h1 {
  color: rgb(78, 71, 255);
  font-size: 100px;
  font-weight: 900;
  text-align: center;
  margin: 10px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {}

nav ul li a {
  text-decoration: none;
  padding: 10px 20px;
  font-family: inter;
  color: rgb(137, 135, 161);
}